.container{
    margin:50px;
    text-align: left;
}

.grid_container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
    grid-gap: 50px 50px;
    margin-top:50px;
    /* grid-auto-rows: minmax(100px, auto); */
  }
  .heading {
    color:rgb(48, 45, 45);
    font-size: 18px;
  }
  .load_more{
    font-size:25px;
    padding: 10px;
    text-align: center;
  }